body {
  &.animation-page {
    position: relative;

    header, main, footer {
      opacity: 0;
    }

    &.showing {
      header, main, footer {
        animation: showing 2s forwards;
      }
    }
  }
}

.phoenix_box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: .4s;
  overflow: hidden;
  //background-color: rgba(255, 0, 0, .3);

  body.desktop & {
    width: 1040px;
  }

  body.mobile & {
    width: 800px;
  }

  .phoenix {
    position: relative;
    width: 60%;
    top: 25px;
    left: 0;
    transition: .4s;
    //background-color: rgba(0, 255, 0, .3);

    body.mobile & {
      width: 150%;
      left: 10px;
      transition: .75s;
      transform: translateX(-50%);

      @media (orientation: landscape) {
        top: 20px;
        left: 5px;
        width: 100vh;
      }
    }
  }

  svg {
    width: 300%;
    height: 300%;
  }
}

.frame_box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  body.admin-bar & {
    top: 32px;

    @media screen and (max-width: 782px) {
      top: 46px;
    }
  }

  .light {
    position: relative;
    width: 700px;
    left: -158px;
    z-index: 1;

    @media @l--less {
      left: calc(50% - 609px);
    }

    @media @m--less {
      width: 600px;
      left: -72px;
    }

    @media @s--less {
      width: 360px;
      left: -48px
    }
  }
}

@keyframes showing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}