.author-line {
  display: flex;
  align-items: center;

  &__avatar {
    margin-right: 16px;
    width: 30px;
    border-radius: 30px;
  }

  .line {
    margin: 0 20px;
    height: 1px;
    flex: 1;
    background-color: @orange;
  }

  span {
    font-weight: 600;
    color: @orange;
    white-space: nowrap;
  }
}