.button {
  cursor: pointer;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @orange;
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;

  //@media @s--less {
  //  padding: 12px 22px;
  //  font-size: 14px;
  //}

  &_lighting {
    display: inline-block;
    padding: 20px 70px 22px;
    font-size: 20px;
    font-weight: 900;
    background-color: #F8CA70;
    color: black;
    border-top: #F3C15E solid 3px;
    box-shadow: 0 0 14px 4px rgba(243, 193, 94, .46);
    border-radius: 5px;

    @media @s--less {
      padding: 10px 40px 12px;
      margin-top: 20px;
      font-size: 18px;
    }

    &:hover {
      background-color: #ffd687;
    }

    &:active {
      background-color: #F3C15E;
    }
  }
}

.link-back {
  margin: 10px 0 30px;
  align-self: flex-start;
  text-decoration: none;
  text-transform: uppercase;
  color: @gray;

  @media @m--less {
    padding: 0 26px;
    margin: 20px 0 0;
  }

  @media @s--less {
    padding: 0 15px;
    margin-top: 15px;
    font-size: 12px;
  }
}