.button {
  cursor: pointer;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @orange;
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: .15s;

  //@media @s--less {
  //  padding: 12px 22px;
  //  font-size: 14px;
  //}

  &_lighting {
    display: inline-block;
    padding: 20px 70px 22px;
    font-size: 20px;
    font-weight: 900;
    background-color: #F8CA70;
    color: black;
    border-top: #F3C15E solid 3px;
    box-shadow: 0 0 14px 4px rgba(243, 193, 94, .46);
    border-radius: 5px;

    @media @s--less {
      padding: 10px 40px 12px;
      margin-top: 20px;
      font-size: 18px;
    }

    &:hover {
      background-color: #ffd687;
    }

    &:active {
      background-color: #F3C15E;
    }
  }

  &[disabled] {
    cursor: progress;
    background-color: darkgray;
    border-color: lightgray;
    box-shadow: none;
  }

  &.progress-btn {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 0;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .35);
      animation: progress-btn 7s ease 0s;
    }
  }
}

.link-back {
  margin: 10px 0 30px;
  align-self: flex-start;
  text-decoration: none;
  text-transform: uppercase;
  color: @gray;

  @media @m--less {
    padding: 0 26px;
    margin: 20px 0 0;
  }

  @media @s--less {
    padding: 0 15px;
    margin-top: 15px;
    font-size: 12px;
  }
}

.social-line {
  display: flex;
  margin: 0 -16px;
  flex-wrap: wrap;

  @media @m--less {
    align-items: center;
    flex-direction: column;
  }

  .mini-btn {
    margin: 8px 16px;

    @media @m--less {
      margin-top: 16px;
    }
  }
}

.mini-btn {
  cursor: pointer;
  display: inline-flex;
  user-select: none;
  padding: 0 32px;
  height: 58px;
  width: 232px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  color: white;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.mail {
    background-color: #ffffff;
    color: @dark-text;

    &:hover {
      background-color: darken(#ffffff, 5%);
    }

    .button-svg {
      svg {
        width: 26px;
      }
    }
  }

  &.vk {
    background-color: #3f8Be1;

    &:hover {
      background-color: lighten(#3f8Be1, 5%);
    }
  }

  &.tg {
    background-color: #00b1eb;

    &:hover {
      background-color: lighten(#00b1eb, 5%);
    }
  }

  &.viber {
    background-color: #9e69b1;

    &:hover {
      background-color: lighten(#9e69b1, 5%);
    }
  }

  &.mobile-only {
    display: none;

    @media @s--less {
      display: flex;
    }
  }

  .button-svg {
    margin-right: 24px;
    width: 30px;
    height: 30px;

    svg {
      width: 30px;
      height: 30px;
      fill: white;
    }
  }
}

@keyframes progress-btn {
  5% {
    width: 0;
  }
  10% {
    width: 15%;
  }
  30% {
    width: 40%;
  }
  50% {
    width: 55%;
  }
  80% {
    width: 100%;
  }
  95% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}