.button {
  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @orange;
  color: white;
  border: none;
  border-radius: 3px;
}

.link-back {
  margin: 10px 0 30px;
  align-self: flex-start;
  text-decoration: none;
  text-transform: uppercase;
  color: @gray;

  @media @m--less {
    padding: 0 26px;
    margin: 20px 0 0;
  }
}