.container {
  &_fixed {
    margin: 0 auto;
    width: 1280px;
    max-width: calc(100% - 80px);

    @media @s--less {
      max-width: calc(100% - 60px);
    }

    @media @xs--less {
      max-width: calc(100% - 40px);
    }
  }

  &_full-width_m-less {
    @media @m--less {
      max-width: 100%;
    }
  }

  & > * {
    z-index: 1;
  }
}