.container {
  &_fixed {
    margin: 0 auto;
    width: 100%;
    padding: 0 40px;
    max-width: 1200px;

    @media @s--less {
      padding: 0 30px;
    }

    @media @xs--less {
      padding: 0 20px;
    }
  }

  &_full-width_m-less {
    @media @m--less {
      padding: 0;
    }
  }
}