.container {
  &_fixed {
    margin: 0 auto;
    width: calc(100% - 80px);
    max-width: 1200px;

    @media @s--less {
      width: calc(100% - 60px);
    }

    @media @xs--less {
      width: calc(100% - 40px);
    }
  }
}