.footer {
  position: relative;
  padding: 12px 0;
  line-height: 1.4;
  color: white;
  background-color: #1d1d1d;
  z-index: 1;

  @media @s--less {
    padding: 10px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media @s--less {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__logo {
    margin-right: 35px;
    max-height: 70px;

    @media @s--less {
      margin-right: 15px;
      max-height: 42px;
    }
  }

  a {
    text-decoration: none;
    color: white;

    @media @s--less {
      white-space: nowrap;
    }

    &[href]:hover {
      text-decoration: underline;
    }
  }
}

.footer-col {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  list-style: none;

  &:first-child {
    @media @s--less {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  &:not(:first-child) {
    margin-left: 20px;

    @media @s--less {
      margin-left: 10px;
    }
  }

  @media @s--less {
    font-size: 9px;
  }

  @media @xxs {
    font-size: 8px;
  }
}