.header {
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, .35);

  body.admin-bar & {
    top: 32px;

    @media (max-width: 782px) {
      top: 46px;
    }
  }

  &__container {
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  &__logo {
    margin-right: 20px;
    height: 80px;

    @media @m--less {
      margin: 0;
    }
  }

  &__site-name {
    font-size: 20px;
    text-transform: uppercase;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    @media @m--less {
      display: none;
    }

    li {
      position: relative;
      margin: 0 40px;

      @media @l--less {
        margin: 0 20px;
      }

      &.current-menu-item:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -9px;
        background-color: #fdbd41;
      }
    }

    a {
      font-size: 24px;
      text-decoration: none;
      text-transform: uppercase;
      color: #7c7c7c;
    }
  }

  .hamburger {
    cursor: pointer;
    position: relative;
    height: 24px;
    width: 30px;

    .bar {
      position: relative;
      height: 2px;
      background-color: black;

      &_1 {
        top: 0;
      }

      &_2 {
        top: 9px;
      }

      &_3 {
        top: 18px;
      }
    }
  }
}