.section {
  padding: 80px 0;

  @media @m--less {
    padding: 60px 0;
  }

  @media @s--less {
    padding: 40px 0;
  }

  &_no-padding {
    padding: 0;
  }

  &_shadow {
    position: relative;
    box-shadow: 0 -5px 18px rgba(0, 0, 0, .14);
  }

  &_course {
    &-top {
      p {
        font-size: 30px;

        @media @m--less {
          font-size: 20px;

          &:first-child {
            font-size: 26px;
          }
        }

        @media @s--less {
          font-size: 20px;
          text-align: center;
        }

        strong {
          font-weight: 900;
        }
      }

      .wp-block-image {
        margin: 0 -70px 0 0;

        @media @s--less {
          margin: 30px 0 0;

          img {
            height: auto;
          }
        }
      }
    }

    &-features {
      display: flex;
      padding-top: 0;
      justify-content: center;
      font-size: 20px;

      @media @m--less {
        font-size: 18px;
      }

      @media @s--less {
        font-size: 14px;
      }

      & > .wp-block-group__inner-container {
        display: grid;
        margin-left: 60px;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 100px;

        @media @m--less {
          margin-left: 0;
          gap: 0 40px;
        }

        @media @s--less {
          margin: 0 30px;
          grid-template-columns: auto;
        }

        .wp-block-group__inner-container {
          display: flex;
          align-items: center;
        }
      }

      .wp-block-image {
        margin: 0 40px 0 0;

        @media @m--less {
          margin: 0 20px 0 0;
        }

        figure {
          display: flex;
        }
      }
    }

    &-for-who {
      position: relative;
      background: @dark-back;
      color: white;
    }

    &-contents {
      .contents-list {
        .swiper-wrapper {
          display: grid;
          margin-top: 60px;
          grid-template-columns: repeat(2, 1fr);
          gap: 40px 60px;

          @media @m--less {
            margin: auto;
            width: 570px;
            max-width: 100%;
            grid-template-columns: 1fr;
          }

          @media @s--less {
            display: flex;
            margin: inherit;
            width: 100%;
            gap: inherit;
          }
        }

        .contents-list__item {
          padding: 35px 55px;
          margin: 0;
          height: auto;
          background-color: white;
          border-radius: 0 5px 5px 0;

          @media @s--less {
            padding: 25px 35px;
          }

          span {
            position: relative;
            display: block;
            font-size: 20px;
            font-weight: 900;
            text-transform: uppercase;

            &:before {
              position: absolute;
              display: block;
              left: -24px;
              top: 9px;
              content: '';
              width: 5px;
              height: 5px;
              background-color: @orange;
              border-radius: 5px;

              @media @s--less {
                left: -16px;
              }
            }
          }

          p {
            margin: 20px 0 0;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.2em;
            list-style-type: none;
            text-transform: none;

            @media @s--less {
              margin: 15px 0 0;
            }
          }
        }
      }
    }

    &-after-that {
      background-color: #fafafa;

      h2 {
        margin-bottom: 60px !important;
      }

      figure {
        margin: 0;
      }
    }

    &-about-author {
      background-color: @orange;
      color: @dark-text;

      .wp-block-columns {
        @media @m--less {
          flex-direction: column;
        }
      }

      .wp-block-column {
        padding: 130px;

        @media @m--less {
          margin: 0;
        }

        @media @l--less {
          padding: 60px;
        }

        @media @s--less {
          padding: 40px 30px;
        }

        &:first-child {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: @dark-text;


          @media @l--less {
            padding: 130px;
          }

          @media @s--less {
            padding: 70px 40px;
          }

          &:before {
            content: '';
            position: absolute;
            width: 90px;
            height: 140px;
            top: 60px;
            left: -10px;
            background: url(/wp-content/themes/sm-school/images/icons/dot.png);
            animation: translating 8s linear infinite;

            @media @s--less {
              top: 10px;
              background-size: 15%;
              width: 60px;
              height: 70px;
            }
          }

          &:after {
            content: '';
            position: absolute;
            width: 90px;
            height: 140px;
            bottom: 60px;
            right: -10px;
            background: url(/wp-content/themes/sm-school/images/icons/dot.png);
            animation: translating 12s linear infinite;

            @media @s--less {
              background-size: 15%;
              width: 60px;
              height: 70px;
            }
          }

          .wp-block-image {
            margin: 0;

            @media @m--less {
              max-width: 385px;
              max-height: 385px;
            }

            figure {
              margin: 0;
            }

            img {
              height: auto;
              border-radius: 500px;
            }
          }
        }
      }

      .name {
        position: absolute;
        bottom: 10%;
        right: 20%;
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: white;

        @media @s--less {
          bottom: 7%;
          right: 10%;
        }

        span {
          color: @orange;
        }
      }

      ul {
        padding: 0;
        margin-top: 40px;
        font-size: 18px;
        line-height: 1.25;

        @media @m--less {
          width: 500px;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
        }

        @media @m--less {
          font-size: 16px;
        }

        li {
          &::marker {
            color: white;
          }

          &:not(:first-child) {
            margin-top: 20px;
          }
        }
      }
    }

    &-feedback {
      h2 {
        text-align: center;
      }

      .feedback {
        &__item.dialog {
          @media @s--less {
            margin-left: 0;
            width: calc(100% - 10px);
            border-radius: 0 5px 5px 0;
          }

          &:not(:first-child) {
            margin-top: 30px;
          }
        }
      }
    }

    &-faq {
      background-color: #fafafa;

      h2 {
        text-align: center;
      }

      .faq {
        &__item:not(:first-child) {
          margin-top: 60px;
        }

        &__question.dialog {
          margin-left: 0;
          background-color: @cream-back;

          @media @m--less {
            width: calc(100% - 40px);
            border-radius: 0 5px 5px 0;
          }

          @media @s--less {
            width: calc(100% - 10px);
          }
        }

        &__answer.dialog {
          margin-right: 0;
          background-color: #ffdd9c;

          @media @m--less {
            width: calc(100% - 40px);
            border-radius: 5px 0 0 5px;
          }

          @media @s--less {
            width: calc(100% - 10px);
          }
        }

        &__type {
          margin-right: 30px;
          font-weight: 900;
          text-transform: uppercase;
          opacity: .5;

          @media @s--less {
            margin-right: 10px;
          }
        }

        &__dots {
          margin-bottom: 1.4rem;
          font-size: 40px;
          font-weight: 900;
          text-align: center;
          line-height: .7;
        }
      }
    }

    &-packages {
      display: flex;
      justify-content: center;

      @media @s--less {
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
        flex-direction: column;
      }

      & > div {
        display: flex;
        position: relative;
        padding: 70px 20px 50px;
        margin: 0 60px;
        width: 440px;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #F0EDE8;
        border-radius: 5px;

        @media @l--less {
          margin: 0 30px;
          padding: 50px 20px 40px;
        }

        @media @s--less {
          margin: 0 20px;
          padding: 70px 20px 50px;
        }

        &:not(:first-child) {
          @media @s--less {
            margin: 30px 0 0;
          }
        }
      }

      img {
        position: absolute;
        left: 40px;
        top: 40px;
        max-height: 50px;
        max-width: 50px;

        @media @l--less {
          left: 20px;
          top: 20px;
          max-height: 36px;
          max-width: 36px;
        }

        @media @s--less {
          max-height: 50px;
          max-width: 50px;
        }
      }

      .name {
        margin: 0;
        text-align: center;
      }

      .description {
        margin: 40px 0 70px;
        width: 100%;
        flex: 1;
        font-size: 20px;
        line-height: 1.2;

        @media @l--less {
          margin: 30px 0;
        }

        @media @s--less {
          font-size: 18px;
        }

        ul {
          @media @l--less {
            padding-left: 25px;
          }

          li {
            &::marker {
              color: orange;
              font-size: 16px;
            }

            &:not(:first-child) {
              margin-top: 20px;
            }
          }
        }
      }

      .cost {
        font-size: 30px;
        font-weight: 900;
        text-align: center;

        @media @s--less {
          font-size: 20px;
        }
      }

      .button {
        margin-top: 25px;
      }
    }

    &-co-authors {
      position: relative;
      background-color: #fafafa;

      h2 {
        margin-bottom: 50px !important;
        text-align: center;
      }

      .co-authors {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;

        &__item {
          display: flex;
          margin: 0 30px;
          flex-shrink: 1;
          flex-direction: column;
          align-items: center;

          @media @s--less {
            margin: 0;
            flex-shrink: 0;
          }

          img {
            border: @dark-text solid 2px;
            border-radius: 150px;

            @media @m--less {
              width: 100px;
            }
          }

          .name {
            margin: 20px 0 5px;
            font-size: 20px;
            font-weight: 900;
            text-transform: uppercase;

            @media @m--less {
              margin-bottom: 10px;
              font-size: 16px;
            }

            span {
              color: @orange;
            }
          }

          .position {
            font-size: 18px;

            @media @m--less {
              font-size: 16px;
            }
          }
        }
      }

      .more {
        margin-top: 5px;
        color: #969696;

        @media @m--less {
          margin-top: 10px;
          font-size: 14px;
        }

        &:hover {
          color: black;
        }
      }
    }
  }

  h2 {
    margin: 0 0 80px;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;

    @media @m--less {
      margin: 0 0 60px;
      font-size: 30px;
      text-align: center;
    }

    @media @s--less {
      margin: 0 0 40px;
      font-size: 20px;
    }
  }

  h3 {
    margin: 0 0 60px;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;

    @media @m--less {
      font-size: 20px;
      text-align: center;
    }

    @media @s--less {
      margin: 0 0 40px;
    }
  }

  ol.grid-list {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px 80px;
    font-size: 20px;
    line-height: 1.2;

    @media @m--less {
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
      grid-template-columns: auto;
    }

    li {
      margin-left: 40px;
      padding-left: 10px;

      &::marker {
        font-size: 30px;
        font-weight: 900;
      }
    }
  }

  .right-caption {
    position: relative;
    margin: 0;

    figcaption {
      position: absolute;
      padding: 25px 35px;
      right: 10px;
      bottom: 10px;
      font-size: 30px;
      text-align: right;
      line-height: .8;
      background-color: #F0EDE8;
      color: @dark-text;
      border-radius: 5px;

      @media @s--less {
        padding: 12px 10px;
        bottom: -10px;
        font-size: 12px;
      }
    }

    em {
      font-style: normal;
      font-size: 16px;

      @media @s--less {
        font-size: 8px;
      }
    }
  }

  .dialog {
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 780px;
    font-size: 18px;
    background-color: white;
    border-radius: 5px;

    @media @s--less {
      padding: 10px;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__author {
      display: flex;
      align-items: center;
      font-weight: 900;

      img {
        margin-right: 20px;

        @media @s--less {
          margin-right: 10px;
        }
      }
    }

    &__text {
      margin: 10px 60px;

      @media @s--less {
        margin: 10px;
        font-size: 16px;
      }
    }
  }
}

@keyframes translating {
  0% {
    transform: translateY(0) rotate(0);
  }
  20% {
    transform: translateY(15px) rotate(6deg);
  }
  40% {
    transform: translateY(40px) rotate(-3deg);
  }
  80% {
    transform: translateY(15px) rotate(-8deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}